<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <title>RescueDavid</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="/static/manifest.json">

    <link href="/static/assets/foundation.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/main.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="streamWrapper">
    <img alt="Geen stream beschikbaar" id="video" src="">
</div>

<div class="uiWrapper">
    <div class="displayInput">
        <textarea maxlength="32" rows="2" id="screenText" placeholder="Enter text for david"></textarea>
    </div>
    <div class="navTopRight"></div>
    <div class="buttonsBottomLeft">
        <div class="button buttonMic toggle">
            <img src="/static/assets/img/mic.png">
        </div>
        <div class="button buttonEmpty">
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/assets/vendor/jquery.js"></script>
<script type="text/javascript" src="/static/assets/vendor/what-input.js"></script>
<script type="text/javascript" src="/static/assets/vendor/foundation.js"></script>
<script type="text/javascript" src="/static/assets/app.js"></script>
<script type="text/javascript" src="/static/assets/index_communicator.js"></script>
</body>
</html>