<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<title>RescueDavid</title>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="manifest" href="../static/manifest.json">

		<link href="../static/assets/foundation.css" rel="stylesheet" type="text/css">
		<link href="../static/assets/main.css" rel="stylesheet" type="text/css">
		<script src="../static/assets/Input.es5.min.js"></script>
	</head>
	<body>

		<div class="uiWrapper">
			
		</div>
		
		<script type="text/javascript" src="../static/assets/Input.es5.min.js"></script>
		<script type="text/javascript" src="../static/assets/vendor/jquery.js"></script>
		<script type="text/javascript" src="../static/assets/vendor/what-input.js"></script>
		<script type="text/javascript" src="../static/assets/vendor/foundation.js"></script>
		<script type="text/javascript" src="../static/assets/app.js"></script>
		<script type="text/javascript" src="../static/assets/index.js"></script>
	</body>
</html>